#useDynLib(fsn, .registration = TRUE)

importFrom("Rfast", matrnorm, colsums)

importFrom("graphics", abline, lines, plot)
importFrom("grDevices", "dev.new")
importFrom("stats", pnorm, qnorm, lm, var)

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")


